/*setting some variable colors*/
:root{
    --primary-color--:blue;
    --secondary-color--:lightskyblue;
    --text-color--: white;
}

body{
    background:white;
}

/*setting text for these divs as white but I realized they're mostly links so they won't show as white really*/
div.LogoandLogin, div.Menu{
    color: var(--text-color--);
}


/*image styling*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .container{
      flex: display;
      justify-content: center;
      align-items: center;

  }
#homeText>p{
    margin-top: 0;
}
#homeText{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: var(--text-color--);
    background-color: var(--secondary-color--);
}
/*for list elements this is padding, text info and color*/
li{
    padding: 0px 10px 0px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: var(--primary-color--);
}

/*div menu setting background and text color and font weight*/
div.Menu{
    background-color:var(--secondary-color--);
    color:white;
}

a {
    color: white;
    text-decoration: none;
    background-color:none;
}

/*for welcome message div center text and make font bigger*/
div.welcomeMessage{
    text-align: center;
    font-size: 140%
}
/*Creating the grid for the id Menu Grid I set*/
#MenuGrid{
    color: white;
    width: 100%;
    height: 50px;
    padding: 0px;
    grid-gap: 10px;
    display: grid;
    /*puts columns out equally*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
}
/*Putting each text in it's own box*/
#ItemA{
    grid-row: 1;
    grid-column:1/2;
}
#ItemB{
    grid-row:1;
    grid-column:2/3;
}
#ItemC{
    grid-row:1;
    grid-column:3/4;
}
#ItemD{
    grid-row:1;
    grid-column:4/5;
}

#ItemE{
    grid-row: 1;
    grid-column:5/6;
}

#MenuGrid > div{
    text-align: center;
    padding:10px;
}

#purposeButton{
    text-align: center;
    background-color: var(--secondary-color--);
    color: var(--text-color--);
    font-size: 110%;
    font-weight: 200;
}

#purposeListGrid {
    text-align: left;
    color: var(--primary-color--)
}
/*question grid*/
#purposeListGrid{
    width: 100%;
    height: 50px;
    padding: 0px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto 1;
    grid-template-rows: auto 3;
}
/*putting each question mark in it's own box*/
#QuestionA{
    grid-row: 1/2;
    grid-column: 1;
}
#QuestionB{
    grid-row: 2/3;
    grid-column: 1;
}
#QuestionC{
    grid-row: 3/4;
    grid-column: 1;
}
